body {
  font-family: 'Roboto', sans-serif;
}
a:link:not(.more-comics, .btn-link),
a:visited:not(.more-comics, .btn-link){
  color: #000;
  text-decoration: none;
}

a:hover:not(.more-comics, .btn-link) {
  color: $primary-link-color;
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

main {
  color: #fff;
  background-color: #333;
  padding: 20px 0 30px;
  text-align: center;
}

.box {
  margin: 200px 0;
}

.add_form{
  max-width: 600px;
  margin: 0 auto;
  background-color: $primary-link-color;
  padding:20px;
  border-radius: 5px;
}

